@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import url('https://fonts.googleapis.com/css?family=Sanchez');

header {
    border: 1px black solid;
    padding: 20px;
}

nav {
    border: 1px black solid;
    padding: 20px;
}

a:hover {
	background: rgb(135,255,189);

}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}

#column1_intro {
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 33.33%;
}

#column2_reasonswhy {
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 33.33%;
}

#column3_socialmedia {
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 33.33%;
    text-align: center;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


aside {
    border: 1px black solid;
    padding: 20px;
}

article {
    border: 1px black solid;
    padding: 20px;
}

footer {
    border: 1px black solid;
    padding: 20px;
    text-align: center;
    color: DarkGreen;
}

div {
    border: 1px black solid;
    padding: 20px;
}

h1 {
	font-family:'Montserrat', sans-serif;
	color: #006400;
	text-align: center;
	font-size: 50px;
	padding: 10px;
}


input[type=text] {
    width: 200px;
    border: 2px solid #ccc;
    border-radius: 15px;
    font-size: 10px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    box-shadow: 1px 2px 2px #000;
    margin: 0 auto;
    display: block;

}

.fa {
    padding: 20px;
    font-size: 60px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 75%;
}

#slogan { 
	text-align: center;
}

h2 {
	text-align: center;
	padding: 10px;
	font-size: 30px;
	color: DarkGreen;

}

body {
	background-size: cover;
	font-family: 'Sanchez', serif;
	color: white;
	text-align: left;
	padding-left: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
}


p { 
	font-family: 'Sanchez', serif;
	text-align: left;
	font-size: 20px;
	color: DarkGreen;
}

h3 {
	font-size: 30px;
	font-weight: bold;
	color: rgb(0, 102, 133);
	text-align: center;
	margin-bottom: .5em;
	padding: .5em;
}

ul {
	font-family: 'Sanchez', serif;
	font-size: 20px;
	color: rgb(0, 102, 133);
	padding: .5em;
}

h4 {
	margin-bottom: .1em;

}

.contact {
	text-align: center;
	color: #A52A2A;
	font-size: 24px;
	padding: .5em;
}

